@(productForm: Form[Product])

@import helper._
@import helper.twitterBootstrap._

@main("Product form") {
    <h1>Sản phẩm</h1>
    <table>
        <tbody>
            <td>
            @helper.form(action = routes.Products.save()) {
                <input type="hidden" value="@productForm("id").valueOr("")" name="id"/>
                <fieldset>
                    <legend>MẶT HÀNG (@productForm("name").valueOr("Mới"))</legend>
                    @helper.inputText(productForm("ean"), '_label -> "Mã hàng")
                    @helper.inputText(productForm("name"), '_label -> "Tên")
                    @helper.textarea(productForm("description"), '_label -> "Mô tả")
                    @helper.inputText(productForm("price"), '_label->"Giá cả")
                    @helper.inputText(productForm("remainProduct"), '_label->"Còn lại")

                </fieldset>
                <h4>Phân loại sản phẩm</h4>
                <div class="control-group">
                    <div class="controls">
                        <input name="tags[0].id" value="1" type="checkbox"
                        @for(i <- 0 to 2) {
                            @if(productForm("tags[" + i + "].id").value == "1") { checked }
                        } > SAMSUNG
                        <input name="tags[1].id" value="2" type="checkbox"
                        @for(i <- 0 to 2) {
                            @if(productForm("tags[" + i + "].id").value == "2") { checked }
                        } > LG
                        <input name="tags[2].id" value="3" type="checkbox"
                        @for(i <- 0 to 2) {
                            @if(productForm("tags[" + i + "].id").value == "3") { checked }
                        } > SONY
                    </div>
                </div>

                <input type="submit" class="btn btn-primary" value="Save/Edit">
                <a href="@routes.Products.list()" class="btn btn-primary">Back</a>
            }
            </td>
            <td>
                <h2>Ảnh minh họa</h>
                <img src="@routes.Assets.at("images/lg_image.png")" width="390" height="555" />
            </td>
        </tbody>
    </table>
}