@(products: List[Product])
@main("Products catalogue") {
    <h2>Danh mục sản phẩm</h2>

    <script>
    function del(urlToDelete) {
        $.ajax ( {
            url : urlToDelete,
            type : 'DELETE',
            success : function ( results ) {
                // Refresh the page
                location.reload ( ) ;
            }
        } ) ;
    }
    </script>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Mã sản phẩm</th>
                <th>Tên</th>
                <th>Mô tả</th>
                <th>Giá</th>
                <th>Ảnh</th>
                <th>Xóa</th>
            </tr>
        </thead>
        <tbody>
        @for(product <- products) {
            <tr>
                <td>
                    <a href="@routes.Products.details(product)">@product.ean</a>
                </td>
                <td><a href="@routes.Products.delete(product.ean)">@product.name</a></td>
                <td><a href="@routes.Products.details(product)">@product.description</a></td>
                <td><a href="@routes.Products.details(product)">@product.price</a></td>
                <td><img src="@routes.Assets.at("images/lg_image.png")" width="65" height="90" /></a></td>
                <td><a onclick="del('@routes.Products.delete(product.ean)')">
                    <span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
        }
        </tbody>
    </table>

    <a href="@routes.Products.newProduct()" class="btn btn-primary">Thêm sản phẩm</a>
}